$navbar-light: #6366f1;
$navbar-dark: #334155;

.navbar {
  background-color: $navbar-light;
  padding: 1rem 8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &.dark {
    background-color: $navbar-dark;
  }
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.theme_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 486px) {
  .navbar {
    padding: 1rem 2rem;
  }
}
