.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  overflow-x: hidden;
}

.card_flag {
  width: 18.6rem;
  height: 10rem;
}

.card_flag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;

  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem;
}

.card_info p span {
  font-weight: 600;
}
