$primary-color: #f8fafc;
$indigo-500: #6366f1;

$dark: #334155;

.search_bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 30rem;
}

// .search_input {
//   width: 100%;
//   height: 40px;
//   line-height: 28px;
//   padding: 0 1rem;
//   padding-left: 2.5rem;
//   border: 2px solid #e2e8f0;
//   border-radius: 8px;
//   outline: none;
//   background-color: $primary-color;
//   color: #0d0c22;
//   transition: 0.3s ease;

//   &.dark {
//     background-color: $dark;
//     color: #fff;
//     border-color: transparent;
//   }
// }

// .search_input::placeholder {
//   color: #9e9ea7;
// }

// .search_input:focus,
// input:hover {
//   outline: none;
//   border-color: $indigo-500;
//   background-color: #fff;
//   box-shadow: 0 0 0 4px rgba(131, 62, 235, 0.1);

//   &.dark {
//     background-color: $dark;
//     color: #fff;
//   }
// }

.BiSearch {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
}

@media screen and (max-width: 486px) {
  .search_bar {
    width: 100%;
  }
}
