@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink {
  @apply
    text-slate-400
    hover:text-amber-500
    capitalize
    px-3
    py-2
    rounded-md
    text-sm
    font-medium
    transition
    duration-500
    ease-in-out;
  }

.activeNavLink {
  @apply
    text-amber-500
    capitalize
    px-3
    py-2
    rounded-md
    text-sm
    font-medium
    transition
    duration-500
    ease-in-out
    relative;
  }

  .activeNavLink::before {
    @apply
    content-['']
    absolute
    -bottom-[1.8rem]
    -ml-1
    w-[85%]
    h-1
    bg-[#FF7D1A]
    sm:block
    hidden;
  }