:root {
  /* Primary */
  --grayish-blue: hsl(237, 18%, 59%);
  --neon: #06b6d4;

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-darker-blue: hsl(234, 17%, 12%);

  --card-top: #2C2D45;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  background: url('/images/bg-stars.svg'), no-repeat;
  background-color: var(--very-dark-blue);
  color: var(--white);

  font-family: 'Red Hat Text', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
}

.container header {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.6rem;

  margin-top: 7rem;
}

.timer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card-parents {
  /* border: 2px solid red; */
  height: 9rem;
  width: 10rem;

  position: relative;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
}

.card p {
  z-index: 150;
  position: relative;

  font-weight: 700;
  font-size: 4rem;
  color: var(--neon);

  cursor: default;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.flip {
  animation: flip 0.5s ease-in-out;
}

/* Infinite smooth bounces */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.top {
  background: var(--card-top);
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;

  border-radius: 5px 5px 0 0;
}

.top-bg {
  background: var(--card-top);
  top: 0;
  height: 50%;
  width: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: 155;

  border-radius: 5px 5px 0 0;
}

.middle-line {
  height: 0.1rem;
  width: 100%;
  position: absolute;

  background-color: black;
}

.bottom {
  background: var(--card-top);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;

  border-radius: 0 0 5px 5px;
  box-shadow: 3px 5px 4px 0 var(--neon);
}

figcaption {
  width: 100%;
  margin-top: 1.5rem;

  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.3rem;
}

footer {
  width: 100%;
  position: relative;
}

footer img {
  width: 100%;
  background-size: cover
}

.socmed {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
}

.socmed img {
  width: 1.5rem;
  width: 1.5rem;
}

.socmed img:hover {
  cursor: pointer;
  width: 2rem;
  width: 2rem;

  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 2rem;
  }

  .container header {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
  }

  .timer {
    flex-direction: column;
    gap: 1rem;
  }

  .card-parents {
    height: 5rem;
    width: 6rem;
  }

  .card p {
    font-size: 2.5rem;
  }

  figcaption {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 486px) {
  .container {
    margin: 0 0.5rem;
  }

  .timer {
    flex-direction: row;
    gap: 0.5rem;
  }

  .card-parents {
    height: 4rem;
    width: 5rem;
  }

  .card p {
    font-size: 2rem;
  }

  figcaption {
    font-size: 0.5rem;
  }
}