*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #3A4764;
  --dark-2: #191F33;

  --light: #E6E7E7;
  --light-2: #D3CDCD;

  --purple: #17072B;
  --purple-2: #1E0937;
}

main {
  background-color: var(--dark);
  color: var(--light);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  height: 80%;

  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 1.5rem;
  font-weight: 700;
}

.switch__theme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: 0.75rem;
  font-weight: 700;
}

.redButton {
  transition: transform 0.3s linear;
}

.redButton.horizTranslate1 {
  transform: translateX(0);
}

.redButton.horizTranslate2 {
  transform: translateX(20px);
}

.redButton.horizTranslate3 {
  transform: translateX(40px);
}

#outerContainer{
  position:relative; 
  width:111px; 
}

#buttonContainer{
  background-color: #222D41; 
  width: 71px; 
  height: 28px; 
  position:relative; 
  left: 20px; 
  top: 0; 
  border-radius:14px;
}

.redButton{
  width:16px; 
  height:16px; 
  background-color:#DB3D2B; 
  border-radius:8px; 
  position:relative; 
  top:6px; 
  left:6px;
}

#legendTextContainer{
  left:22px; 
  display:inline-block;
  position:absolute; 
  top: -24px; 
  color:#ffffff;
  font-family:Arial; 
  font-size:10pt;
  text-align:center;
}

.legendText{
  display:inline-block;
  width:20px; 
  padding-bottom:33px; 
  cursor:default; 
  user-select: none;
}

section.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 100%;

  background-color: var(--dark-2);
  border-radius: 15px;
}

section.display .display__input {
  font-size: 2rem;
  font-weight: 700;
  text-align: end;

  width: 100%;
  padding: 0 1rem;
}

section.display .display__result {
  font-size: 2rem;
  font-weight: 700;
  text-align: end;

  width: 100%;
  padding: 0 1rem;

  background-color: var(--dark-2);
  color: var(--light);
  border: none;
  
}

section.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
  border-radius: 15px;
}

section.input button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBE2DB;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  font-size: 1.5rem;
  font-weight: 700;
  
  border: none;
  box-shadow: 0 3px 0 0 #B1A49A;
}

section.input button:hover {
  background-color: #D3CDCD;
  box-shadow: 0 0 0 2px #EBE2DB;
}

section.input button.delete, section.input button.reset {
  background-color: #657199;
  color: var(--light);
  box-shadow: 0 3px 0 0 #566082;
}

section.input button.delete:hover, section.input button.reset:hover {
  background-color: #566082;
  box-shadow: 0 0 0 2px #657199;
}

section.input button.reset {
  grid-column: 1 / span 2;
  border-radius: 15px;
}

section.input button.total {
  grid-column: 3 / span 2;
  border-radius: 15px;

  background-color: #D13E31;
  color: var(--light);
  box-shadow: 0 3px 0 0 #A83226;
}

section.input button.total:hover {
  background-color: #A83226;
  box-shadow: 0 0 0 2px #D13E31;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 80%;
    padding: 0 1rem;
  
    font-family: 'Roboto', sans-serif;
  }
}