:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

@mixin dirextionX {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  margin: 2rem 8rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.container {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 2.5rem;

  margin-top: 3rem;

  .notFound {
    text-align: center;
    animation: bounce 1s ease infinite;
  }

  .link {
    text-decoration: none;
  }

  .back_link {
    text-decoration: none;
  }
}

.detail_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  // border: 2px solid red;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  margin-top: 3rem;
  width: 100%;

  .detail_flag img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;

    object-fit: fill;
  }

  .detail_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .detail_info_1 {
    display: flex;
    gap: 6rem;

    width: 100%;
  }

  .detail_col_1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .detail_col_2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 486px) {
  main {
    margin: 2rem 0.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 1rem;

    .filter {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }
  }

  .container {
    // width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .detail_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
    // border: 2px solid red;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    margin-top: 3rem;
    width: 100%;

    .detail_flag img {
      width: 100%;
      height: 100%;
      border-radius: 15px;

      object-fit: fill;
    }

    .detail_info {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      width: 100%;
      height: 100%;
      padding: 2rem;
    }

    .detail_info_1 {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      width: 100%;
    }

    .borders {
      flex-wrap: wrap;
    }
  }
}
