* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

/* body {
  overflow-x: hidden;
} */

main {
  display: flex;
  align-items: center;
}

.left__side {
  background: url('public/img/image\ 1.png'), lightgray 50% / cover no-repeat;
  height: 100vh;
  width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__container {
  width: 40rem;
  height: 35rem;
  background: rgba(255, 255, 255, 0.40);
  flex-shrink: 0;
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-radius: 15px;
}

.left__title {
  color: #FFF;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  
  padding-left: 5.5rem;
  padding-top: 8.63rem;

  width: 17.375rem;
  height: 10.875rem;
}

.left__title span {
  color: #3E334E;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.left__desc {
  padding-left: 5.5rem;
  
  display: flex;
  width: 18rem;
  flex-direction: column;
  flex-shrink: 0;
  color: #3E334E;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


/* RIGHT SIDE */
.right__side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  gap: 3rem;
}

.right__logo {
  display: flex;
  align-items: center;
}

.right__logo img {
  width: 3rem;
  height: 3rem;
}

.right__logo span {
  color: #3E334E;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.right__title {
  display: flex;
  width: 21.6875rem;
  flex-direction: column;
  color: #3E334E;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.right__desc {
  display: flex;
  width: 21.6875rem;
  flex-direction: column;
  color: #3E334E;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form__input {
  display: flex;
  flex-direction: column;
  /* width: 25rem; */
  width: 100%;
  border-radius: 1rem;
  align-items: center;
}

.email__input, .password__input {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
}

.email__input label, .password__input label {
  display: flex;
  flex-direction: column;
  /* align-self: stretch; */
  color: #3E334E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0.5rem;
}

.email__input input, .password__input input {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #AFA2C3;
  background: rgba(255, 255, 255, 0.00);
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  width: 23rem;
}

.eye {
  position: absolute;
  right: 9rem;
  margin-top: 2.25rem;
}

.form__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.remember__me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #3E334E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.remember__me input[type="checkbox"] {
  display: none;
}

.remember__me input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.remember__me input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.remember__me input[type="checkbox"]:checked + label::before {
  background-image: linear-gradient(270deg, #FB6564 0%, #A03CEA 100%);
  content: "\2713"; /* Unicode checkmark symbol */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Set the color of the checkmark */
}

.forgot__password {
  color: #3E334E;
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
}

.form__bottom {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.form__bottom .login {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--warm-gradient, linear-gradient(270deg, #FB6564 0%, #A03CEA 100%));
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: none;
}
.form__bottom .login span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form__bottom .signup {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #3E334E;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background-color: #fff;
}

.form__bottom .signup span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #3E334E;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.orLogin {
  display: flex;
  flex-direction: column;
  /* align-self: stretch; */
  color: #3E334E;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.form__footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  margin-top: 1rem;
}

.facebook, .linkedin, .google {
  display: flex;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #AFA2C3;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  background-color: #fff;
}

.facebook span, .linkedin span, .google span {
  color: #3E334E;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.login__mobile {
  display: none;
}


/* ---------------------------------- */
/* ------------- MOBILE ------------- */
/* ---------------------------------- */
@media screen and (max-width: 480px) {
  .left__side {
    display: none;
  }

  .right__side {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.80) 100%), url('public/img/Rectangle\ 9.png');
    /* padding: 5rem 0; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 3rem;
    width: 100%;
  }

  .right__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3.5rem;
    align-self: self-start;
    margin-left: 1.5rem;
  }
  
  .right__logo img {
    width: 3rem;
    height: 3rem;
  }
  
  .right__logo span {
    color: #3E334E;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }

  .login__mobile {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #3E334E;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }

  .right__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #3E334E;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  
  .right__desc {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #3E334E;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .form__input {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* width: 25rem; */
    width: 90%;
    border-radius: 1rem;
    align-items: center;
  }
  
  .email__input, .password__input {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
    width: 100%;
  }

  .password__input {
    position: relative;
  }
  
  .email__input label, .password__input label {
    display: flex;
    flex-direction: column;
    /* align-self: stretch; */
    color: #3E334E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 0.5rem;
  }
  
  .email__input input, .password__input input {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #AFA2C3;
    background: rgba(255, 255, 255, 0.00);
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    width: auto;
  }
  
  .eye {
    position: absolute;
    right: 1rem;
    margin-top: 2.25rem;
  }

  .form__footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    margin-top: 1rem;
  }
}