*, ::before,::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #355B3E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #FFF;
  /* height: 30rem; */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.right__side {
  background: #F5DBC4;
  width: 40rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__side img {
  width: 21rem;
  object-fit: cover;
}

.left__side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2.5rem 4rem 4rem 4rem;
  gap: 2rem;
}

.logo__mobile {
  display: none;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  color: #355B3E;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.logo img {
  width: 3rem;
  height: 3rem;
}

.title {
  display: flex;
  width: 25rem;
  flex-direction: column;
  flex-shrink: 0;
  color: #355B3E;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.desc {
  display: flex;
  width: 26.375rem;
  flex-direction: column;
  flex-shrink: 0;
  color: #58745E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__email {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-self: stretch;
  color: #2F3D4C;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form__email input {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #B8D6BF;
  background: #FFF;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.form__password {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-self: stretch;
  color: #2F3D4C;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  position: relative;
}

.form__password input {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #B8D6BF;
  background: #FFF;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.eye {
  position: absolute;
  margin-top: 2rem;
  margin-left: 24rem;
}

.form__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.remember__me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #3E334E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.remember__me input:checked {
  accent-color: rgba(2, 150, 100, 1);
}

.forgot__password {
  color: #3E334E;
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
}

.form__bottom {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.form__bottom .login {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #029664;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: none;
}
.form__bottom .login span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.form__bottom .signup {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #029664;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background-color: #fff;
}

.form__bottom .signup span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #029664;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.loginWith {
  display: inline-flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.loginWith div:first-child {
  color: #58745E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.loginWith div:not(:first-child) {
  color: #355B3E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}


/* ---------------------------------- */
/* ------------- MOBILE ------------- */
/* ---------------------------------- */
@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background: #FFF;
    /* height: 30rem; */
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;
  }

  .right__side {
    background: #F5DBC4;
    width: auto;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right__side img {
    width: 70%;
    object-fit: cover;
    padding: 2rem 0;
  }
  
  .left__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;
    gap: 1rem;
  }

  .logo {
  display: none;
  }

  .logo__mobile {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }

  .logo__mobile img {
    width: 3rem;
    height: 3rem;
  }
  
  .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #355B3E;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  
  .desc {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #58745E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .eye {
    position: absolute;
    right: 0;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0.75rem;
  }

  .loginWith {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
  }
  
  .loginWith div:first-child {
    position: absolute;
    margin-top: -4rem;

    color: #58745E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  
  .loginWith div:not(:first-child) {
    color: #355B3E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}