@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 5.625rem;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
  }
  
  nav .logo {
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  nav .navigation {
    display: none;
    gap: 1.75rem;
    color: #FFF;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
  }
  nav .navigation a{
    color: #FFF;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .header .auth {
    display: none;
    gap: 1.75rem;
    color: #FFF;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
  }
  
  .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 30px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

  nav .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  nav .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  nav .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  nav .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  nav .mobile__menu {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5.625rem;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.70);
    /* box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.50); */
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    list-style-type: none;
  }
  
  nav .mobile__menu li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  nav .mobile__menu li a {
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  nav input[type="checkbox"]:checked ~ .mobile__menu {
    transform: translateX(0);
  }
  
  nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .header__title {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }

  .header__desc {
    color: #FFF;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-align: center;
  }

  /* ------------------- */
  /* ABOUT GALLERY */
  /* ------------------- */
  .about__gallery {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('Assets/the-games-bg.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: -0.125rem;
    padding-top: 2rem;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 1rem;
    margin-top: 20px;
  }

  .about__title {
    color: #FFF;
    font-family: Arial;
    margin-top: -28rem;
    margin-left: 1rem;
  }

  .about__title_1 {
    font-size: 1.rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
  }
  
  .about__title_2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }

  .about__carousel{
    width: 100%;
    height: fit-content;
  }
  
  .about__carousel__image {
    width: auto;
  }

  .game__features {
    background: radial-gradient(81.01% 53.57% at 30.85% 53.65%, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.4) 19.20%, rgba(4, 5, 6, 0.52) 47.48%, #080A0B 99.74%), url('Assets/bg\ image\ 3.png');
    background-position: 25% 75%;
    height: 100vh;
  }

  .game__features__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  float: right;
  margin-right: 1rem;
  margin-top: 11rem;
  }

  .game__features__timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 9.5rem;
    background: white;
    left: 3px;
    margin-top: 0.25rem;
  }
  
  .game__features__timeline__desc {
    color: #FFF;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    width: 15rem;
  }

  /* ------------------- */
  /* SYSTEM REQUIREMENTS */
  /* ------------------- */
  .requirements {
    background: radial-gradient(50.00% 49.23% at 64.32% 47.10%, rgba(255, 255, 255, 0.00) 3.36%, rgba(0, 0, 0, 0.00) 19.22%, #080A0B 99.74%), url('Assets/requirements.png');
    background-position: 70% 50%;
    height: fit-content;
    padding-bottom: 1rem;
    flex-shrink: 0;
  }
  
  .system__requirements {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4rem;
    margin-left: 1rem;
  }
  
  .system__requirements__title {
    display: flex;
    width: 100%;
    height: 4.60269rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }
  
  .system__requirements__box {
    display: grid;
    grid-template-areas: 'col-1'
    'col-2'
    'col-3'
    'col-4'
    'col-5';
    padding: 10px;
    width: 42%;
  }

  /* ------------------- */
  /* PRESS QUOTES */
  /* ------------------- */
  .press__quotes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 100%;
  }

  .press__quotes__col_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    color: #FFF;
    font-family: Arial;
    width: 20rem;
    gap: 1.5rem;
  }
  
  .press__quotes__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }
  
  .press__quotes__desc {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: capitalize;
    text-align: center;
  }
  
  .press__quotes__button {
    width: 16.27263rem;
    height: 3.75rem;
    border-radius: 0.25rem;
    background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
    color: #1A1917;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .press__quotes__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
  }
  
  .press__quotes__col_2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
  }
  
  .press__quotes__card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 11.43363rem;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    padding: 10px;
  }
  
  .press__quotes__card_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 11.43363rem;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    margin-left: 0;
    padding: 10px;
  }
  
  .press__quotes__card_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 11.43363rem;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    margin-left: 0;
    padding: 10px;
  }

  .press__quotes__card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  
  .press__quotes__card__headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .press__quotes__card__profile {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 999px;
    box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
    -webkit-box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
    -moz-box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
  }
  
  .press__quotes__card__title {
    color: #FFB548;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
  }
  
  .press__quotes__card__job {
    color: #FFF;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    opacity: 0.5;
  }
  
  .press__quotes__card__body {
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
  }
  
  .press__quotes__card__footer {
    color: #FFF;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    padding: 10px;
  }

  .newsletter {
    margin-top: -0.125rem;
    height: 60rem;
    background: radial-gradient(38.04% 77.62% at 24.21% 47.47%, rgba(35, 15, 15, 0.00) 0%, rgba(0, 0, 0, 0.00) 20%, #080A0B 50%), url('Assets/newsletter.png');
    background-position: 25% 45%;
  }

  .newsletter__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 0rem;
    padding-top: 13rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .newsletter__header {
    color: #FFF;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
  }
  
  .newsletter__title {
    width: 100%;
    color: #FFF;
    font-family: Arial;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
  }
  
  .newsletter__desc {
    width: 100%;
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }

  footer {
    background-color: #080B0A;
    padding: 0 5rem 5rem 5rem;
    margin-top: -10rem;
  }

  footer .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #FFF;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    gap: 2rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  
  footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: Open Sans;
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    margin-top: 1.75rem;
  }
  
  footer .bottom .left {
    opacity: 0.5;
  }
}