/* .font-bebas {
  font-family: 'Bebas Neue', display;
}

.font-sans {
  font-family: 'Open Sans', sans-serif;
} */

* {
  padding: 0;
  margin: 0;
}

.header {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('Assets/main-bg.jpg');
  background-size: cover;
  background-position: center;
  margin-top: -0.125rem;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: 5.625rem;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.50);
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  padding: 0 12rem;
}

.mobile__menu, .checkbox, .hamburger-lines {
  display: none;
}

nav .logo {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-decoration: none;
}

nav .navigation {
  display: flex;
  gap: 1.75rem;
  color: #FFF;
  text-align: right;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
nav .navigation a{
  color: #FFF;
  text-align: right;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  text-decoration: none;
}

.header .auth {
  display: flex;
  gap: 1.75rem;
  color: #FFF;
  text-align: right;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.header__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3rem;
}

.header__title {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.header__desc {
  color: #FFF;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.header__button {
  width: 16.27263rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
  padding: 0 ;
  color: #1A1917;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
}

.header__story {
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  color: #FFF;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.about__gallery {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('Assets/the-games-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 61.6875rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -0.125rem;
}

.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.50rem;
}

.about__title {
  color: #FFF;
  font-family: Arial;
  margin-top: -28rem;
}

.about__title_1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.about__title_2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.about__carousel{
  width: 60%;
  height: fit-content;
}

.about__carousel__image {
  width: auto;
  aspect-ratio: 1.9 / 1;
}

.game__features {
  background: radial-gradient(81.01% 53.57% at 30.85% 53.65%, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.00) 19.20%, rgba(4, 5, 6, 0.52) 47.48%, #080A0B 99.74%), url('Assets/bg\ image\ 3.png');
  height: 54.39138rem;
}

.game__features__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  float: right;
  margin-right: 20rem;
  margin-top: 11rem;
}

.game__features__text {
  color: #FFF;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.game__features__title {
  color: #FFF;
  font-family: Arial;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.game__features__timeline {
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
}

.game__features__timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 128px;
  background: white;
  left: 3px;
  margin-top: 0.25rem;
}

.game__features__timeline__text {
  margin-bottom: 0.75rem;
}

.game__features__timeline__title {
  color: #FFB548;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  margin-bottom: 0.75rem;
}

.game__features__timeline__title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -1px;
  margin-top: 0.25rem;
  z-index: 999;
}

.game__features__timeline__title_2 {
  color: #FFB548;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

.game__features__timeline__title_2::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-radius: 999px;
  left: -1.5px;
  margin-top: 0.5rem;
}

.game__features__timeline__desc {
  color: #FFF;
  text-align: justify;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  width: 22.65756rem;
}

.requirements {
  background: radial-gradient(50.00% 49.23% at 64.32% 47.10%, rgba(255, 255, 255, 0.00) 3.36%, rgba(0, 0, 0, 0.00) 19.22%, #080A0B 99.74%), url('Assets/requirements.png');
  height: 60.00988rem;
  flex-shrink: 0;
}

.requirements__title {
  color: #FFF;
  font-family: Arial;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  display: flex;
  justify-content: center;
  padding-top: 9.08rem;
  margin-bottom: 4rem;
}

.system__requirements {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 4rem;
  margin-left: 5rem;
}

.system__requirements__title {
  display: flex;
  width: 39.57438rem;
  height: 4.60269rem;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  font-family: Arial;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.system__requirements__box {
  display: grid;
  grid-template-areas: 'col-1 col-2'
  'col-3 col-4'
  'col-5 col-5';
  padding: 10px;
  width: 42%;
}

.system__requirements__col_1 {
  grid-area: col-1;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 12px;
}

.system__requirements__col_2 {
  grid-area: col-2;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 12px;
}

.system__requirements__col_3 {
  grid-area: col-3;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 12px;
}

.system__requirements__col_4 {
  grid-area: col-4;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 12px;
}

.system__requirements__col_5 {
  grid-area: col-5;
  border: 1px solid rgba(151, 151, 151, 0.2);
  padding: 12px;
}

.system__requirements__col__title {
  color: #FFB548;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.system__requirements__col__desc {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.press__quotes {
  background: radial-gradient(38.04% 77.62% at 24.21% 47.47%, rgba(35, 15, 15, 0.00) 0%, rgba(0, 0, 0, 0.00) 51.10%, #080A0B 99.74%), url('Assets/cat-han-W_5Eakb1598-unsplash.jpg');
  background-size: cover;
  height: 60.00988rem;
}

.press__quotes__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 100%;
}

.press__quotes__mobile {
  display: none;
}

.press__quotes__col_1 {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  color: #FFF;
  font-family: Arial;
  width: 25.68313rem;
  gap: 3rem;
}

.press__quotes__title {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.press__quotes__desc {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: capitalize;
}

.press__quotes__button {
  width: 16.27263rem;
  height: 3.75rem;
  border-radius: 0.25rem;
  background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
  color: #1A1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.press__quotes__col_2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.press__quotes__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 28.28688rem;
  height: 11.43363rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.08);
}

.press__quotes__card_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 28.28688rem;
  height: 11.43363rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.08);
  margin-left: -10rem;
}

.press__quotes__card_3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 28.28688rem;
  height: 11.43363rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.08);
  margin-left: -4rem;
}

.press__quotes__card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.press__quotes__card__headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.press__quotes__card__profile {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 999px;
  box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
  -webkit-box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
  -moz-box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
}

.press__quotes__card__title {
  color: #FFB548;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.press__quotes__card__job {
  color: #FFF;
  text-align: justify;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  opacity: 0.5;
}

.press__quotes__card__body {
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.press__quotes__card__footer {
  color: #FFF;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  padding: 10px;
}

.newsletter {
  margin-top: -0.125rem;
  height: 60rem;
  background: radial-gradient(38.04% 77.62% at 24.21% 47.47%, rgba(35, 15, 15, 0.00) 0%, rgba(0, 0, 0, 0.00) 20%, #080A0B 50%), url('Assets/newsletter.png');
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 35rem;
  padding-top: 13rem;
}

.newsletter__header {
  color: #FFF;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.newsletter__title {
  width: 42.32738rem;
  color: #FFF;
  font-family: Arial;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.newsletter__desc {
  width: 40.30994rem;
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.email {
  display: block; 
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  border-radius: 0.375rem; 
  border-width: 2px; 
  width: 100%; 
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #FFB548;
}

.subscribe {
  background-color: #F3AF34;
  width: 16rem;
  padding: 1rem;
  color: #1A1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  border-radius: 0.125rem;
}

footer {
  background-color: #080B0A;
  padding: 0 5rem 5rem 5rem;
  margin-top: -10rem;
}

footer .top {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #FFF;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  gap: 2rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #fff;
  width: 100%;
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Open Sans;
  color: #FFF;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  margin-top: 1.75rem;
}

footer .bottom .left {
  opacity: 0.5;
}